<div ng-controller="UmbTimeOnlyController">
  <!-- <input type="text" id="timeInput" ng-model="model.value.hour"/> -->
  <p>Time picked is: <br /> hour:{{model.value.hour}} min:{{model.value.minutte}} sec:{{model.value.second}}</p>
  <button type="button" id="open-modal" ng-click="model.openModal()">Pick time</button>
  <div id="time-only-modal" ng-if="model.isOpen">
    <p>This is a modal</p>
    <div class="time-container">
      <div class="time-input">
        <p>Hour:</p> 
        <input type="text" ng-model="model.value.hour" ng-change="model.timeChanged('hour')"/>
      </div>
      <div class="time-input">
        <p>Minutte:</p> 
        <input type="text" ng-model="model.value.minutte" ng-change="model.timeChanged('minutte')"/>
      </div>
      <div class="time-input">
        <p>Second:</p> 
        <input type="text" ng-model="model.value.second" ng-change="model.timeChanged('second')"/>
      </div>
    </div>
    
    <button type="button" ng-click="model.setTime()">Set time</button>
  </div>
</div>